*{
	margin: 0px;
	padding: 0px;
}
.clear{
	clear:both;
}

header{
	background-color:rgba(176,195,227,0.5);
	height:50px;
	padding:15px 0;
}
.header-left p{
	color:rgba(255,255,255,0.5);
	font-family: 'Quicksand', sans-serif;
	font-size:25px;
}

li a{
	text-decoration:none;
	color:rgba(255,255,255,0.5);
	font-family: 'Quicksand', sans-serif;
	padding:25px;
}

header{
	margin:0;
}

.menu{
	color:gray;
}

body{
	background-color:white;
	
}
.header-right li{
	float:right;
	list-style:none;
	padding:0 20px;
	color:white;
	transition:all 1s;
}
.header-right li:hover{
	background-color:rgba(255,255,255,0.3);
	padding:0 55px;
}

.top-wrapper{
    width:100%;
    height:500px;
}

.image{
	height:1000px;
	padding:50px;
	text-align:center;
	display:block;
	background-color:rgba(110,96,81,0.2);
	width:100%;
	min-width:900px;
}


img{
	max-width: 50%;
    height: auto;
	
}

.mag{
	display:inline-block;
	width:400px;
	padding:40px 60px 50px 0;
}

.corster{
	display:inline-block;
	width:300px;
	padding:30px 0px 20px 50px;
}
